* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Handjet", sans-serif;
}

/*--- INTRODUCTION ---*/

.introduction {
    padding: 200px;
    background: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
}

.introduction h1 {
    color: #FCD945;
    font-weight: 700;
    font-size: 60px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.introduction p {
    font-weight: 400;
    font-size: 30px;
    text-align: justify;
    color: white;
}

.introduction h4 {
    color: white;
    font-size: 40px;
}

/*--- BUTTONS SHEANANIGANS ---*/

.buttons {
    padding: 100px;
    margin: 0 400px;
}

.buttons button {
    margin: 0 10px;
    transition: all 0.5s ease-out;
}

.button-text {
    font-size: 50px;
}

.btn-custom {
    color: white;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    transition: all 0.5s ease-out;
}

.btn-alien {
    background: #0052D4;
    border-color: #0052D4;
}

.btn-alien:hover {
    background: #0140a8;
}

.btn-spaceship {
    background: #4364F7;
    border-color: #4364F7;
}

.btn-spaceship:hover {
    background: #213ec2;
}

.btn-astronaut {
    background: #6FB1FC;
    border-color: #6FB1FC;
}

.btn-astronaut:hover {
    background: #2c74c7;
}

/*--- RESULTS ---*/

.results {
    padding: 200px;
    background: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
}

footer {
    background: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
    height: 200px;
}

#resultContainer {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#resultContainer > * {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.choice-text {
    font-weight: 700;
    color: #FCD945;
}

.message-text {
    font-weight: 300;
}