* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Handjet", sans-serif;
}

body {

}

.introduction {
    padding: 200px;
    background: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
}

.introduction h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
}

.introduction p {
    font-weight: 400;
    font-size: 30px;
    text-align: justify;
    color: white;
}

.buttons {
    padding: 100px;
    margin: 0 400px;
}

button {
    margin: 0 10px;
}

.button-text {
    font-size: 50px;
}

.results {
    padding: 200px;
    background: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
    margin-bottom: 0;
}

.btn-custom {

}

.btn-alien {
    background: #0052D4;
    color: white;
    border-radius: 0.375rem;
    border-color: #0052D4;
    padding: 0.375rem 0.75rem;
}

.btn-alien:hover {
    background: #00358a;
    color: white;
}

#resultContainer {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: white;
}